<div class="flexslider">
  <ul class="slides">
    <li><img src="https://cdn.shopify.com/s/files/1/0276/1254/5099/files/Screen_Shot_2020-08-06_at_11.55.33_AM.png?v=1596672170" /></li>
        <li><img src="https://cdn.shopify.com/s/files/1/0276/1254/5099/files/Screen_Shot_2020-08-06_at_11.56.29_AM.png?v=1596672190" /></li>
        <li><img src="https://cdn.shopify.com/s/files/1/0276/1254/5099/files/Screen_Shot_2020-08-06_at_11.56.49_AM.png?v=1596672200" /></li>
  </ul>
</div>

<script type="text/javascript">
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    directionNav: true
  });
});
</script>